<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Pipes Demo</h1>
      <div class="field">
      <p>Enter your name</p>
      </div>
      <input class="input" type="text" (input)="onNameChangeHandler($event.target.value)"/>
      <div class="box" *ngIf = "name">{{name | titlecase}}</div>
      <div class="field"><p>Enter date of birth</p></div>
      <input class="input" type="date" (input)="onDateChangeHandler($event.target.value)"/>
      <div class="box" *ngIf = "date">{{date | date: "fullDate"}}</div>
      <div class="field"><p>Enter amount</p></div>
      <input class="input"type="text" (input)="onAmountChangeHandler($event.target.value)"/>
      <div class="box" *ngIf = "amount">{{amount | currency: 'PKR '}}</div>

      <div class="field"><p>Enter Miles</p></div>
      <input class="input"type="text" (input)="onMilesChangeHandler($event.target.value)"/>
      <div class="box" *ngIf = "miles">{{miles | convert}} Kilometers</div>
    </div>
  </div>
</div>

<div>{{car | json}}</div>